.container
  = render 'filters', bills: bills, subcategories: subcategories, contractors: contractors, users: users

  = turbo_frame_tag 'bills', target: '_top' do
    = render 'bills', bills: bills, pagination: pagination
