%header.p-3.pb-0.mb-3.border-bottom.bg-primary
  .container
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      = link_to 'Calincome', dashboard_index_path, class: 'd-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none'
      = render partial: 'layouts/signed_user_menu'
    = render partial: 'layouts/navbar'